---
layout: default
ref: index
lang: fr
---

<div class="home">

  <h1 class="page-heading">Articles</h1>

  <ul class="post-list">
    {% assign posts=site.posts | where:"lang", page.lang %}
    {% for post in posts %}
      <li>
        <hr style="margin: 3px 0px;">
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
          <div style="overflow: hidden;">
            <div style="float:left;border: 1px black;">
              <span class="post-meta">{{ post.date | date: "%Y/%m/%d" }}</span>
              <h2>{{ post.title }}</h2>
            </div>
            <div style="float:right;border: 1px black;">
              {% if post.thumbnail %}<img src="{{ post.thumbnail }}">{% endif %}</div>
          </div>
        </a>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">suivre le <a href="{{ "/flux.xml" | prepend: site.baseurl }}">flux RSS</a></p>

</div>
